[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Django = "~=2.0.6"

[dev-packages]
pytest = "~=3.6.0"
pytest-cov = "~=2.6.0"


[requires]
python_version = "3.5"
